---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Abril 2024 - Actualmente...",
    title: "Full Stack Developer",
    company: "Seenka",
    description:
      "Como Full Stack Developer en Seenka, soy responsable del desarrollo integral de aplicaciones web, implementando soluciones tanto en el frontend como en el backend. Trabajo con tecnologías como Angular y Django.",
  },
  {
    date: "Noviembre 2022 - Enero 2024",
    title: "Full Stack Developer",
    company: "Huellitas",
    description:
      "Estuve a cargo del desarrollo de la aplicación web de Huellitas, una aplicación que conecta a personas con mascotas para adoptarlas. Me encargué de la arquitectura, diseño y desarrollo tanto del frontend como del backend.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
