---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Abril 2024 - Actualmente...",
    title: "QA Developer",
    company: "Seenka",
    description:
      "Soy responsable de asegurar la calidad de la aplicación web de Seenka y de los materiales entregados a los clientes. Para ello, realizo pruebas manuales, automatizadas y end-to-end. Además, colaboro en el desarrollo del frontend y backend de la aplicación.",
  },
  {
    date: "Noviembre 2022 - Enero 2024",
    title: "Full Stack Developer",
    company: "Huellitas",
    description:
      "Estuve a cargo del desarrollo de la aplicación web de Huellitas, una aplicación que conecta a personas con mascotas para adoptarlas. Me encargué de la arquitectura, diseño y desarrollo tanto del frontend como del backend.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
